In [33]:
import pandas as pd

Q1. What version of Panda did I install?

In [34]:
pd.__version__

'2.3.2'

Get data

In [35]:
file_path = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"

df = pd.read_csv(file_path)

print(df.head())

   engine_displacement  num_cylinders  horsepower  vehicle_weight  \
0                  170            3.0       159.0     3413.433759
1                  130            5.0        97.0     3149.664934
2                  170            NaN        78.0     3079.038997
3                  220            4.0         NaN     2542.392402
4                  210            1.0       140.0     3460.870990

   acceleration  model_year  origin fuel_type         drivetrain  num_doors  \
0          17.7        2003  Europe  Gasoline    All-wheel drive        0.0
1          17.8        2007     USA  Gasoline  Front-wheel drive        0.0
2          15.1        2018  Europe  Gasoline  Front-wheel drive        0.0
3          20.2        2009     USA    Diesel    All-wheel drive        2.0
4          14.4        2009  Europe  Gasoline    All-wheel drive        2.0

   fuel_efficiency_mpg
0            13.231729
1            13.688217
2            14.246341
3            16.912736
4            12.488369

Q2. How many records are in the dataset?

In [36]:
len(df)

9704

Q3. How many fuel types are presented in the dataset?

In [37]:
df['fuel_type'].nunique()

2

Q4. How many columns in the dataset have missing values?

In [38]:
(df.isnull().sum() > 0).sum()

np.int64(4)

Q5. What's the maximum fuel efficiency of cars from Asia?

In [39]:
round(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max(), 2)

23.76

Q6. Median value of horsepower
Now, calculate the median value of horsepower once again.

In [40]:
# Find the median value of the horsepower column in the dataset.
df['horsepower'].median()

149.0

In [41]:
# Calculate the most frequent value of the same horsepower column.
df['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [42]:
# Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
horsepower_mode = df['horsepower'].mode()[0]

df['horsepower'] = df['horsepower'].fillna(horsepower_mode)

In [43]:
# Now, calculate the median value of horsepower once again.
df['horsepower'].median()

152.0

Has it changed? No

Q7. Sum of weights
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?

In [44]:
# Select all the cars from Asia
df[df['origin'] == 'Asia']

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
8,250,1.0,174.0,2714.219310,10.3,2016,Asia,Diesel,Front-wheel drive,-1.0,16.823554
12,320,5.0,145.0,2783.868974,15.1,2010,Asia,Diesel,All-wheel drive,1.0,16.175820
14,200,6.0,160.0,3582.687368,14.9,2007,Asia,Diesel,All-wheel drive,0.0,11.871091
20,150,3.0,197.0,2231.808142,18.7,2011,Asia,Gasoline,Front-wheel drive,1.0,18.889083
21,160,4.0,133.0,2659.431451,NaN,2016,Asia,Gasoline,Front-wheel drive,-1.0,16.077730
...,...,...,...,...,...,...,...,...,...,...,...
9688,260,4.0,152.0,3948.404625,15.5,2018,Asia,Diesel,All-wheel drive,-1.0,11.054830
9692,180,3.0,188.0,3680.341381,18.0,2016,Asia,Gasoline,Front-wheel drive,1.0,11.711653
9693,280,2.0,148.0,2545.070139,15.6,2012,Asia,Diesel,All-wheel drive,0.0,17.202782
9698,180,1.0,131.0,3107.427820,13.2,2005,Asia,Gasoline,Front-wheel drive,-2.0,13.933716
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [45]:
# Select only columns vehicle_weight and model_year
df[['vehicle_weight', 'model_year']]

      vehicle_weight  model_year
0        3413.433759        2003
1        3149.664934        2007
2        3079.038997        2018
3        2542.392402        2009
4        3460.870990        2009
...              ...         ...
9699     2981.107371        2013
9700     2439.525729        2004
9701     2583.471318        2008
9702     2905.527390        2011
9703     2908.043477        2005

[9704 rows x 2 columns]

In [46]:
# Select the first 7 values
df.head(7)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,152.0,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
5,190,3.0,152.0,2484.883986,14.7,2008,Europe,Gasoline,All-wheel drive,-1.0,17.271818
6,240,7.0,127.0,3006.542287,22.2,2012,USA,Gasoline,Front-wheel drive,1.0,13.210412

In [52]:
# Select only the columns with numeric data
numeric_df = df.select_dtypes(include=np.number)

# Fill any remaining missing values
numeric_df = numeric_df.fillna(0)

# Get the underlying NumPy array. Let's call it X.
X = numeric_df.to_numpy()
X = np.nan_to_num(X) 

# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T @ X

# Invert XTX
np.linalg.inv(XTX)

y = df['fuel_efficiency_mpg'].to_numpy()

# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = np.linalg.inv(XTX) @ X.T @ y

# What's the sum of all the elements of the result?
w.sum()

np.float64(0.9999999999997154)

Can't get 9 to work ☹️